{% load staticfiles %}
<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1">
  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{% static 'styletransfer/css/main.css' %}">
  <title>Style Transfer</title>
</head>
<body>
  <div class="header-bar">
    <a id="header-title" href="{% url 'views.index' %}">Style Transfer</a>
  </div>
  <div class="container">
    {% block 'body' %}
    {% endblock %}
  </div>
</body>
</html>
