<!-- This page displays the form for user input -->

{% extends 'styletransfer/base.html' %}
{% block 'body' %}

<h2>First, we need an image of you</h2>
<!-- Get a snapshot of the user-->
<!-- TODO remove bottom bar from video player -->
<div class="capture">
  <video class="webcam-video" id="player" autoplay></video>
  <button class="capture-button" id="capture" style="font-size:20px;">Capture</button>
  <canvas class="capture-preview" id="canvas" width=420 height=320></canvas>
</div>

<form class="upload-image" enctype="multipart/form-data" action="{% url 'views.form' %}" method="post">{% csrf_token %}

  <input type="text" name="snapShot" id="hidden_image_field" hidden>

  <!-- Image upload incase camera isn't working -->
  <p>
    If you are not using your camera, please upload an image:
    &nbsp;&nbsp;&nbsp;<input type="file" name="fileUpload" accept="image/*" style="font-size:13px;">
  </p>

  {% if errorImage %}
    <div class="error">{{errorImage}}</div>
    <br>
  {% endif %}

  <br>
  <h2>Now, please select the image with the style you wish to transfer</h2>

  <div class="style-options">
    <figure>
      <img src="http://via.placeholder.com/200x280">
      <figcaption>Mona Lisa</figcaption>
    </figure>

    <figure>
      <img src="http://via.placeholder.com/200x280">
      <figcaption>Vincent van Gogh</figcaption>
    </figure>

    <figure>
      <img src="http://via.placeholder.com/200x280">
      <figcaption>Avatar Na'vi</figcaption>
    </figure>

    <div class="style-selection">
      <input type="radio" name="styleOption" value="monalisa">Mona Lisa<br>
      <input type="radio" name="styleOption" value="vangogh">Vincent van Gogh<br>
      <input type="radio" name="styleOption" value="navi">Na'vi<br>
    </div>
  </div>

  {% if errorStyle %}
    <div class="error">{{errorStyle}}</div>
    <br>
  {% endif %}

  <br>
  <button class="submit" style="font-size:20px;">Submit</button>
</form>


<script>
  const player = document.getElementById('player');
  const canvas = document.getElementById('canvas');
  const context = canvas.getContext('2d');
  const captureButton = document.getElementById('capture');

  const constraints = {
    video: true,
  };

  captureButton.addEventListener('click', () => {
    // Draw the video frame to the canvas.
    context.drawImage(player, 0, 0, canvas.width, canvas.height);
    var dataURL = document.getElementById('canvas').toDataURL("image/jpg");
    document.getElementById('hidden_image_field').value = dataURL;
  });

  // Attach the video stream to the video element and autoplay.
  navigator.mediaDevices.getUserMedia(constraints)
    .then((stream) => {
      player.srcObject = stream;
    });
</script>
{% endblock %}
