<!-- this page can be used to explain the project and how it works -->

{% extends 'styletransfer/base.html' %}
{% block 'body' %}

<h1>About the Project</h1>
<p>We've created an application which allows users to use style transfer on their own images.</p>
<h3>What is Style Transfer?</h3>
<p>It's used to transfer the style of one image onto another. In our application, we transfer the style of artwork onto selfies.</p>
<h3>How does it work?</h3>
<p>A convolutional neural network is trained to produce images somewhere between the Content Image and the Style Image.</p>
<p>This application uses an existing implementation which can be found <a href='https://github.com/abhiskk/fast-neural-style'>here</a>.</p>
<br>
<button onclick='window.location="{% url 'views.form' %}";' style='font-size:16px'>Begin</button>
{% endblock %}
